.film-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100px;
  width:100%;
  background-image: url('./image2.jpg');
  border-bottom: 6px solid;
  padding: 20px 100px 0px 100px;
}

.film-form span {
  font-size: 3.5em;
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 600px;
}
