.films-list {
  padding-top: 100px;
  padding-bottom: 300px;
  background-image: url('./dragon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
