.film-form-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  min-height: 100px;
  width:100%;
  background-image: url('./image2.jpg');
  border-bottom: 6px solid;
  padding: 20px 100px 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-items: center; */
  justify-items: center;
}

.film-form {
  grid-column: 1 / 2;
}

.film-form-heading {
  grid-column: 2 / 3;
  font-size: 3.5em;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 0px;
}
